In [22]:
import requests
import urllib.request 
from urllib.request import urlopen 
from bs4 import BeautifulSoup
import re
import json
import pandas as pd
import numpy as np
from numpy.random import randint 
from datetime import date
import datetime as dt
import os 
import glob

In [33]:
rootpage = 'https://www.rottentomatoes.com/sitemap_' 
end = '.xml'
today = date.today()

def getLinks(pageUrl):
    global pages 
    for sitemap_page in range(0, 25): 
        pages = set() 
        html = urlopen(rootpage+str(sitemap_page)+end)
        bsObj = BeautifulSoup(html)
        
        for link in bsObj.findAll('loc'):
            replacers = ['trailers/', 'pictures/']
            link = str(link).replace('</loc>', '').split('.com')
            
            if link[1] not in pages: 
                pages.add(link[1])
    
        pages = pd.DataFrame(pages, columns=['links'])
        pages.to_csv(r'/Users/mimiyufanyou/Documents/GitHub/rottentomatoes/movie_links/links_'+str(today)+'_'+str(sitemap_page)+'.csv', sep=',')
        
        print('saved to csv:','links_'+str(today)+'_'+str(sitemap_page)+'.csv', dt.datetime.now())

getLinks('')

saved to csv: links_2019-11-14_0.csv 2019-11-14 20:38:34.895592
saved to csv: links_2019-11-14_1.csv 2019-11-14 20:38:36.404784
saved to csv: links_2019-11-14_2.csv 2019-11-14 20:38:38.702323
saved to csv: links_2019-11-14_3.csv 2019-11-14 20:38:40.489013
saved to csv: links_2019-11-14_4.csv 2019-11-14 20:38:42.225225
saved to csv: links_2019-11-14_5.csv 2019-11-14 20:38:43.914244
saved to csv: links_2019-11-14_6.csv 2019-11-14 20:38:45.176514
saved to csv: links_2019-11-14_7.csv 2019-11-14 20:38:46.552977
saved to csv: links_2019-11-14_8.csv 2019-11-14 20:38:47.841026
saved to csv: links_2019-11-14_9.csv 2019-11-14 20:38:48.984804
saved to csv: links_2019-11-14_10.csv 2019-11-14 20:38:50.290421
saved to csv: links_2019-11-14_11.csv 2019-11-14 20:38:51.789395
saved to csv: links_2019-11-14_12.csv 2019-11-14 20:38:53.329840
saved to csv: links_2019-11-14_13.csv 2019-11-14 20:38:54.793166
saved to csv: links_2019-11-14_14.csv 2019-11-14 20:38:56.379827
saved to csv: links_2019-11-14_15.csv 2019-11-14 20:38:57.827345
saved to csv: links_2019-11-14_16.csv 2019-11-14 20:38:59.998023
saved to csv: links_2019-11-14_17.csv 2019-11-14 20:39:01.798433
saved to csv: links_2019-11-14_18.csv 2019-11-14 20:39:03.317895
saved to csv: links_2019-11-14_19.csv 2019-11-14 20:39:04.992776
saved to csv: links_2019-11-14_20.csv 2019-11-14 20:39:06.371997
saved to csv: links_2019-11-14_21.csv 2019-11-14 20:39:07.760916
saved to csv: links_2019-11-14_22.csv 2019-11-14 20:39:08.504304
saved to csv: links_2019-11-14_23.csv 2019-11-14 20:39:10.055722
saved to csv: links_2019-11-14_24.csv 2019-11-14 20:39:12.047478

In [8]:
filepath = r'/Users/mimiyufanyou/Documents/GitHub/rottentomatoes/movie_links/*.csv'
df_links = pd.concat([pd.read_csv(f) for f in glob.glob(filepath)], ignore_index = True)
df_links = list(df_links['links'])

In [9]:
trimmed_links = set()

for links in df_links:
    links = links.replace('/pictures/', '').replace('/trailers/', '') 
    trimmed_links.add(links)

In [24]:
baseurl = 'https://www.rottentomatoes.com'
listlength = len(trimmed_links)
movie_df = pd.DataFrame(columns=['url', 'title', 'tomatoScore', 'popcornScore'])
today = date.today()

def getScores(link):
    try: 
        siteurl = urlopen(baseurl+link)

        bsObj = BeautifulSoup(siteurl)
        movie_title = str(bsObj).split('"name":"')[1].split('"')[0]
        print(movie_title)

        tomatoScore = str(bsObj).split('ratingValue":')[1].split(',"')[0]
        print(tomatoScore)

        ems_id = str(bsObj).split('emsId":"')[1].split('"')[0]
        ems_req_url = f'https://www.rottentomatoes.com/napi/audienceScore/{ems_id}'

        ems_response = requests.get(ems_req_url)
        ems_soup = BeautifulSoup(ems_response.text, 'html.parser')
        ems_text_response = ems_response.text
        json_ems = json.loads(ems_text_response)
        popcornScore = json_ems['audienceScoreAll']['score']
        print(popcornScore)

        movie_df.loc[link] = [link, movie_title, tomatoScore, popcornScore]
    except: 
        pass

In [12]:
batches = [] 

for i in range(0,985, 50): 
    batches.append(i)

In [31]:
df_links.head()

                                 0
0            /m/madea-goes-to-jail
1       /m/blood-and-sex-nightmare
2     /m/julie_and_julia/pictures/
3  /m/10011103-beautiful/pictures/
4            /m/employees_entrance

In [32]:
df_links = pd.DataFrame(df_links)
df_links.iloc[0:2]

                            0
0       /m/madea-goes-to-jail
1  /m/blood-and-sex-nightmare

In [ ]:
for batch in range(0,50):
    for link in df_links.iloc[batch]: 
        print(df_links.iloc[batch][0])
        getScores(link)

    #movie_df.to_csv(r'/Users/mimiyufanyou/Documents/GitHub/rottentomatoes/movie_scores/scores_'+str(today)+'_'+str(batch)+'.csv', sep=',')
    #print('saved to csv:','scores_'+str(today)+'_'+str(batch)+'.csv', dt.datetime.now())

/m/madea-goes-to-jail
Madea Goes to Jail
27
96
/m/blood-and-sex-nightmare
Blood and Sex Nightmare
null
/m/julie_and_julia/pictures/
/m/10011103-beautiful/pictures/
/m/employees_entrance
/m/1212393-heavens_heart
/m/1212694-blind_side
The Blind Side
66
85
/m/gambler_the_girl_and_the_gunslinger/trailers/
/m/sherlock_holmes_2009
Sherlock Holmes
69
77
/m/naked_man/pictures/
/m/1213991-way_we_get_by/trailers/
/m/good_student/trailers/
/m/berlin-calling
Berlin Calling
null
/m/storia-di-ragazzi-e-di-ragazze/pictures/
/m/observe_and_report/trailers/
/m/taxi-blues/pictures/
/m/an_invisible_sign/trailers/
/m/harry_and_son
/m/behind_enemy_lines_colombia/trailers/
/m/a_love_in_germany/pictures/
/m/lymelife/pictures/
/m/linewatch/pictures/

In [26]:
replacetextnulls = lambda x: x.replace('null', np.nan)
movie_df_copy = movie_df.apply(replacetextnulls).dropna(axis=0, how='any')

movie_df_copy['squidScore'] = movie_df_copy['popcornScore'].astype(int)-movie_df_copy['tomatoScore'].astype(int)
movie_df_copy.sort_values(by=['squidScore'], ascending=False)

Empty DataFrame
Columns: [url, title, tomatoScore, popcornScore, squidScore]
Index: []

In [23]:
movie_df_copy.head()
#movies = pd.DataFrame(movie_df_copy)
#movies.to_csv(r'/Users/mimiyufanyou/Documents/GitHub/rottentomatoes/movie_scores/scores'+str(today)+'.csv', sep=',')

,url,title,tomatoScore,popcornScore,squidScore
/m/10009426-guitar,/m/10009426-guitar,The Guitar,33,55,22
/m/tony_n_tinas_wedding_2007,/m/tony_n_tinas_wedding_2007,Tony 'n' Tina's Wedding,25,55,30
/m/tarzans_new_york_adventure,/m/tarzans_new_york_adventure,Tarzan's New York Adventure,83,59,-24
/m/five_days_one_summer,/m/five_days_one_summer,Five Days One Summer,14,30,16
/m/i_o_u_s_a,/m/i_o_u_s_a,I.O.U.S.A.,88,86,-2